html {
    scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: #0B6D95;
}
a:hover{
  color: red;
}
ul, li {
    list-style-type: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

header {
    width: 100%;
    background: linear-gradient(90deg, #0B6D95 0%, #24ADB6 100%);
    position: sticky;
    top: -5px;
    z-index: 1;

}

.aside_item {
    position: sticky;
    top: 100px;
    width: 20%;
}
.main_container {
    display: flex;
    margin-top: 20px;
}

.main_content {
    width: 80%;
}

.main_name {
    background: #24ADB6;
    position: sticky;
    top: 30px;
}